@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Work+Sans:ital,wght@0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
/*----------nav-----------*/

nav {
  margin-left: 120px;
  padding-top: 40px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}
.navbar h2 {
  color: #131313;
  font-family: Work Sans;
}
.nav-info a {
  color: #424242;

  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
}
/*----------banner----------*/
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.heading {
  margin: 5px 245px;
  font-family: Work Sans;
  text-align: center;
}
.heading h1 {
  color: #131313;
  text-align: center;
  font-size: 64px;
  padding-top: 70px;
  font-weight: 700;
  font-family: Work Sans;
  line-height: 75px;
}
.des {
  color: #424242;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
}
.btn {
  background-color: #ff900e;
  color: #ffff;
  border: 0;
  padding: 10px 25px;
  border-radius: 6px;
}
.banner-img {
  margin-top: 50px;
  margin-bottom: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features-container {
  display: flex;
  margin: 5px 120px;
  align-items: center;
}
.teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.teams img {
  height: 340px;
  width: 340px;
}
.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  width: 100%;
}
.quick-list {
  margin-left: 60px;
}
.span1 {
  color: #424242;
}
.span2 {
  color: #ff900e;
}
/*----features list-----*/

.features-list {
  display: grid;
  margin-left: 120px;
  margin-top: 70px;
  margin-buttom: 100px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px;
}
.features-list .title {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.list-nmbr {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
  padding: 10px;
}
.list-title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #131313;
}
.des1 {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.features-img img {
  border-radius: 8px;
  width: 708px;
  height: 982px;
  padding-left: 92px;
  margin-right: 90px;
}
.btn span {
  font-size: 22px;
  font-weight: 600;
}
.features-img .btn {
  text-align: center;
  padding: 26px 30px;

  margin-top: -135px;
  margin-left: 150px;
}
/*----some-facts---*/

.facts-title {
  margin: 70px 120px;
  width: 50%;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-left: 150px;
  margin-right: 130px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.fact {
  border: 1px solid #ff900e;
  border-radius: 5px;
  padding-top: 20px;
  transition: 2.5s;
}
.fact:hover {
  transform: rotate(90deg);
}

.fact-title {
  color: #424242;
  font-size: 38px;
  padding: 7px;
  font-weight: 600;
  line-height: 40px;
}
.fact-des {
  color: #424242;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  padding-bottom: 60px;
}
/*-------sponsors--------*/

.sponsors {
  text-align: center;
  margin-top: 120px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 30px;
}
.sponsors-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 90px;
}
.container img {
  mix-blend-mode: luminosity;
}
/*---------footer---------*/

.footer {
  color: #424242;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 190px;
}
.footer h5 {
  background-color: #fff4e7;
  border-radius: 5px;
  padding: 20px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 90px;
}
/*----mobile resp---------*/

@media screen and (max-width: 556px) {
  .navbar {
    width: 100%;
  }
  .navbar h2 {
    font-size: 18px;
    padding-top: 12px;
    padding-right: 100px;
  }
  .navbar ul {
    width: 100%;
    padding-top: 12px;
  }
  .navbar ul a {
    font-size: 12px;
    padding-right: 10px;
  }
  .section1 {
    padding-top: 30px;
  }
  .heading h1 {
    font-size: 34px;
    padding-bottom: 15px;
  }
  .des {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .btn {
    width: 90px;
    height: 32px;
  }
}
